
header {
  position: relative;
  height: 113px;
  text-align: center;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bc4a75;
  display: flex;           
  justify-content: center;      
  align-items: center;  
}

#main-nav ul li a {
  display: block;
  color: white;
  padding: 1em 0.7em;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap; 
  font-size: 0.8rem;
}

#main-nav ul li a:hover {
  background-color: #b60d81;
}

#main-header-mapAPI{
  background-color: #b4f9ce;
  padding: 7px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#googleMap {
  height: 100vh; 
  width: 100%;
}

h1 {
  display: inline-block;
  color: #000000;
  margin-top: 1rem;
  background-color: #ffeade;
  font-size: 2rem;
  padding: 0.2em 1em;
  border-radius: 1.5rem;
}

h1:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media (min-width: 800px) {
  #main-nav ul li a {
    padding: 1em 2em;
    font-size: 1rem;
  }
  
}