body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(135deg, #f7f7f7 0%, #e0e0ff 100%);
  margin: 0;
  padding: 0;
  background-image: url("../images/videoGames_background.jpg"); 
}

header {
  position: relative;
  height: 7rem;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 3em;
  font-family: 'Snell Roundhand', cursive;
  color: #ffbb6e;
  margin-top: 20px;
  background-color: #c26dff;
  padding: 0.3em 1em;
  border-radius: 40px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

h1:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#page-wrapper {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 2rem;
}

.text-box {
  border: 0.15rem solid #c26dff;
  border-radius: 1rem;
  padding: 1.3rem 2rem;
  margin: 1.5rem 0;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: cornsilk;
}

#intro {
  font-family: Garamond, Verdana, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: #d7ffe6;
}

.text-box:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.text-box p,
.text-box ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-family: Garamond, Verdana, sans-serif;
}

.list-headings {
  font-family: Garamond, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0.1em 0.2em;
  overflow: hidden;
  background-color: #4abc5f;
  display: flex;           
  justify-content: center;      
  align-items: center;
  letter-spacing: 0.1em;
}


ul {
  padding-left: 1.5rem;
}

.imageR {
  display: block;
  margin: 1rem auto;
  width: 70%;
  max-width: 25rem;
  height: auto;
  border-radius: 1rem;
  border: 0.1rem solid #49007d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageR:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}

#conclusion {
  font-family: 'Courier New', Courier, monospace, Verdana, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: whitesmoke;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bc4a75;
  display: flex;           
  justify-content: center;      
  align-items: center;  
}

#main-nav ul li a {
  display: block;
  color: white;
  padding: 1em 0.7em;
  text-decoration: none;
  transition: background-color 0.3s;
  white-space: nowrap; 
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

#main-nav ul li a:hover {
  background-color: #b60d81;
}

#main-header-videoGames{
  background-color: #b4f9ce;
  padding: 0.5rem;
}

@media (max-width: 48rem) {
  #page-wrapper {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }

  .imageR {
    width: 90%;
    max-width: none;
  }
}

@media (min-width: 800px) {
  #main-nav ul li a {
    font-size: 1.1rem;
    padding: 1em 2em;
  }
  h1 {
    font-size: 3rem;
    padding: 0.3em 1em;
    border-radius: 2.5rem;
  }
}